@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('./animation.css');
* {
	padding: 0;
	margin: 0;

	list-style: none;
	box-shadow: none;
	text-decoration: none;
}

:root {
	--font-family-main: 'Montserrat', sans-serif;
	--font-size-xl: 2.4rem;
	--font-size-l: 1.8rem;
	--font-size-m: 1.2rem;
	--font-weight-xs: 100;
	--font-weight-s: 200;
	--font-weight-m: 300;
	--font-weight-l: 400;
	--font-weight-xl: 500;
	--vh: 100dvh;

	touch-action: pan-x pan-y;
	height: 100%;
}

body {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: white;
	background-color: black;
}

#hero {
	width: auto;
	height: var(--vh);

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: black;
}

#hero:after {
	width: 100%;
	height: 2px;

	content: '';
	position: absolute;

	background: linear-gradient(270deg, #00ffbd, #ff9000, #00d5ff);
	background-size: 600% 600%;

	-webkit-animation: GradientAnimation 30s ease infinite;
	-moz-animation: GradientAnimation 30s ease infinite;
	-o-animation: GradientAnimation 30s ease infinite;
	animation: GradientAnimation 30s ease infinite;
}

#hero > h1,
#hero > h2,
.contacts {
	font-family: var(--font-family-main);
	font-weight: var(--font-weight-m);

	flex: 1;
	display: flex;
	align-items: center;
}

#hero > h1 {
	margin-bottom: 0.4rem;

	font-size: var(--font-size-l);
	letter-spacing: 0.1rem;

	align-items: flex-end;
}

#hero > h2 {
	margin-top: 0.5rem;

	font-size: var(--font-size-m);
	letter-spacing: 0.08rem;
	text-transform: lowercase;

	align-items: flex-start;
}

.contacts {
	position: absolute;
	bottom: 10rem;

	font-size: var(--font-size-h2);
	letter-spacing: 0.08rem;
}
