@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

@import url('./animation.css');

* {
	margin: 0;
	padding: 0;

	list-style: none;

	text-decoration: none;

	box-shadow: none;
}

:root {
    --margin-horizontal: 3rem;
    --margin-vertical: 5rem;

    --spacing-l: 4.8rem;
    --spacing-m: 0.5rem;
    --spacing-s: 0.2rem;

	--font-family: 'Montserrat', sans-serif;

	--font-size-xxl: 2.1rem;
	--font-size-xl: 1.8rem;
	--font-size-l: 1.2rem;
	--font-size-m: 1rem;
	--font-size-s: 0.9rem;
	--font-size-xs: 0.75rem;

	--font-weight-l: 400;
	--font-weight-m: 300;
	--font-weight-s: 100;

	--color-scheme: #121113;
	--color-accent: #f7f7f2;

	touch-action: pan-x pan-y;
}

h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-m);
    line-height: 1;
}
h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-s);
    line-height: 1;
}
h3 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-s);
    line-height: 1;
}
h4 {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-s);
    line-height: 1;
}
h5 {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-m);
    line-height: 1;
    letter-spacing: 0.05rem;
}
h6 {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-m);
    line-height: 1;
}
p {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0.2rem 0;
}

a, a:active, a:focus, a:hover {
    color: var(--color-accent);
}