@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
@import url("./animation.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
}

:root {
  --margin-horizontal: 3rem;
  --margin-vertical: 5rem;
  --spacing-l: 4.8rem;
  --spacing-m: 0.5rem;
  --spacing-s: 0.2rem;
  --font-family: "Montserrat", sans-serif;
  --font-size-xxl: 2.1rem;
  --font-size-xl: 1.8rem;
  --font-size-l: 1.2rem;
  --font-size-m: 1rem;
  --font-size-s: 0.9rem;
  --font-size-xs: 0.75rem;
  --font-weight-l: 400;
  --font-weight-m: 300;
  --font-weight-s: 100;
  --color-scheme: #121113;
  --color-accent: #f7f7f2;
  touch-action: pan-x pan-y;
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-m);
  line-height: 1;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-s);
  line-height: 1;
}

h3 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-s);
  line-height: 1;
}

h4 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-s);
  line-height: 1;
}

h5 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-m);
  line-height: 1;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  line-height: 1;
}

p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-m);
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0.2rem 0;
}

a, a:active, a:focus, a:hover {
  color: var(--color-accent);
}

body {
  width: 100lvw;
  height: auto;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-accent);
  background-color: var(--color-scheme);
}

main {
  position: relative;
  width: 100dvw;
  height: auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 1260px) {
  .hero {
    justify-content: center;
    align-items: center;
  }
}
.hero > * {
  position: relative;
  margin-left: var(--margin-horizontal);
}
@media only screen and (min-width: 1260px) {
  .hero > * {
    margin: 0;
  }
}
.hero .hero__title {
  width: calc(100% - var(--margin-horizontal));
  margin-top: 33dvh;
}
@media only screen and (min-width: 1260px) {
  .hero .hero__title {
    width: 100%;
    margin-top: 45vh;
    text-align: center;
  }
}
.hero .hero__title::after {
  height: 2px;
  margin-top: var(--spacing-m);
  display: block;
  content: "";
  background: linear-gradient(270deg, #00ffbd, #ff9000, #00d5ff);
  background-size: 600% 600%;
  -webkit-animation: GradientAnimation 30s ease infinite;
          animation: GradientAnimation 30s ease infinite;
}
.hero .hero__slogan {
  text-transform: lowercase;
}
.hero .hero__email {
  margin-top: auto;
}
.hero .hero__phone {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-l);
}